* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    /* font-size: 16px; */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--text-color);

    background: linear-gradient(135deg, #fffeffea 0%, #e7c1dc 50%, #ffffffee 100%);
}

.container{
    max-width: 1320px;
    margin: 0 auto;
}

:root {
    /* สีหลักของเว็บ */
    --primary-color : rgb(207, 107, 253) ;
    --primary-dark-color : rgb(92, 38, 180) ;
    --secondary-color: rgb(91, 5, 141);

    /* สีข้อความ */
    --text-color : black;
    --muted-text-color : rgb(92, 90, 90);
    --nav-text-color: rgb(97, 96, 96);
    --light-text-color: rgb(250, 250, 250);
    --info-card1-text-color:rgb(0, 9, 141);
    --info-card2-text-color:rgb(130, 3, 180);
    --info-card3-text-color:rgb(1, 143, 1);
    --info-card4-text-color:rgb(219, 88, 0);


    /* สีพื้น */
    --header-bg-color: rgba(252, 252, 252, 0.719);
    --btn-bg-color :rgba(200, 23, 245, 0.904) ;
    --footer-bg-color: black;
    --info-card1-bg-color:rgba(17, 0, 250, 0.295);
    --info-card2-bg-color:rgba(130, 3, 180, 0.37);
    --info-card3-bg-color:rgba(14, 209, 14, 0.342);
    --info-card4-bg-color:rgba(255, 94, 0, 0.473);



    /* สีข้อเงา */
    --header-shadow : 0 7px 14px rgba(137, 43, 226, 0.712);
    --card-shadow : 0 4px 16px rgba(198, 124, 233, 0.712);

    /* สีขอบ */
    --dorder-color : #e5e7eb;

}

/* =============================
            Header
==============================*/

.header{
    box-shadow: var(--header-shadow);

    position: sticky;
    top: 0;
    z-index: 10;

    background-color: var(--header-bg-color);
    backdrop-filter: blur(10px);
}

.header-content{
    text-align: center;
    padding-block: 1.5rem ;
}

.header-title{
    color: var(--primary-color) ;
    font-size: clamp(2rem, 5vw, 3rem);

    line-height: 1.2;
    margin-bottom: 0.25rem;
}

.header-subtitle{
    color: var(--muted-text-color);
}

/* =============================
            Nav
==============================*/

nav{
    padding-block: 2rem;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color);

    padding: 0.65rem 1.2rem ;
    box-shadow: var(--card-shadow);
    border-radius: 999px;

    margin-right: 0.3rem;

    transition: transform 0.5s;
    display: inline-block;
}

nav a:hover {
    transform: translateY(-10px);
}

nav a.active{
    background-color: var(--btn-bg-color);
    color: var(--light-text-color);
}

/* =============================
            Main
==============================*/


.page-title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.pet-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 1.5rem;
}

.pet-card {
    border: var(--dorder-color);
    box-shadow: var(--card-shadow);
    border-radius: 0.75rem;

    overflow: hidden;
    transition:  transform 0.5s;
}
.pet-card:hover{
    transform: translateY(-10px);
    box-shadow: var(--header-shadow);
}

.pet-grid img{
    height: 16.25rem;
    width: 100%;

    object-fit: cover;
}

.pet-content {
    padding: 1.25rem;
}

.pet-content h2 {
    color: var(--primary-dark-color);
}

.breed {
    color: var(--muted-text-color);
}




/* =============================
            Info-section
==============================*/


.info-section{
    box-shadow: var(--card-shadow);
    border-radius: 0.75rem;

    margin-top: 1.5rem;
    padding: 1.75rem;
}

.info-tite{
    font-weight: bold;
    text-align: center;

}

.info-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    margin-top: 0.75rem;
    padding: 1rem;
    gap: 1rem;
}

.info-card{
    border-radius:0.75rem ;
    padding: 1rem;

    box-shadow: var(--card-shadow);
}
.info-card span{
    font-weight: bold;
    line-height: 2.5rem;

}
.info-card:nth-child(1) { background-color: var(--info-card1-bg-color); }
.info-card:nth-child(2) { background-color: var(--info-card2-bg-color); }
.info-card:nth-child(3) { background-color: var(--info-card3-bg-color); }
.info-card:nth-child(4) { background-color: var(--info-card4-bg-color); }

.info-card:nth-child(1) span { color:var(--info-card1-text-color); }
.info-card:nth-child(2) span { color:var(--info-card2-text-color); }
.info-card:nth-child(3) span { color:var(--info-card3-text-color); }
.info-card:nth-child(4) span { color:var(--info-card4-text-color); }





/* =============================
            Footer
==============================*/


footer {
    background-color: var(--footer-bg-color);
    color: var(--light-text-color);

    text-align: center;
    padding-block: 2rem;
    margin-top: 2rem;
}



/* =============================
            Responsive
==============================*/