* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(167, 177, 206);
  line-height: 1.6;
}

footer,
/* .hero, */
/* .card, */
/* .tip-box {
  border: 1px solid red;
  background-color: #fff;
  margin: 20px;
  padding: 20px;
} */

/* ================
        Header
======================*/
header {
  background: linear-gradient(
    to right,
    rgba(154, 21, 231, 0.74),
    rgb(201, 155, 207)
  );
  padding: 20px;
  color: aliceblue;
  box-shadow: 0 7px 14px rgba(137, 43, 226, 0.712);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand-icon {
  font-size: 50px;
}
.brand-text p {
  font-size: 14px;
}

/*  navigation */
nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
nav a:hover {
  text-decoration: underline;
}

/*  Hero section */

.hero {
  padding: 45px 70px 25px;

  display: flex;
  align-items: center;
  gap: 20PX;
}

.hero-icon {
  background-color: blue;
  color: #fff;
  border-radius: 20px ;

  width: 90px;
  height: 90px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  font-weight: bold;

}

.hero-text{}

.hero-text h1 {
  font-size: 40px;
  color: #551d94;
}

.hero-text p {
  font-size: 16px;
  color: #58486b;
}




/*  Main Content */
.container {
  /* max-width: 1200px; */
  width: 100%;
  /* margin: 0 auto; */
  padding: 0 60px;

  /* background-color: rgb(110, 205, 243); */
}

.card-grid {
  display: grid;
  /*grid-template-columns: 1fr 1fr 1fr;*/
  grid-template-columns: repeat(3, 1fr);
   gap: 20px;

  /* background-color: rgba(197, 155, 224, 0.884); */
}


.card {
  background-color: #fff;
  
  border-radius: 16px;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.747);
  border: 1px solid #d2abfd;

  overflow: hidden;

  margin-bottom: 25px;

  /* padding: 20px; */
}

.card-header {
  background-color: rgba(210, 185, 255, 0.466);

  color: blue;
  font-size: 18;
  font-weight: bold;

  padding: 20px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.747);
}

.card-header-icon {
  background-color: #b729f0cc;
  color: #fff;

  /* padding: 10px; */
  border-radius: 50%;
  width: 38px;
  height: 38px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  
}

.purple-bg {background-color: #5734f3;}
.purple-text {color: #5734f3;}

.card-body {
  padding: 20px;
}

.format-row {
  display: grid;
  grid-template-columns: 100px 1fr;

  margin-bottom: 8px;
  gap: 20px;
  border-bottom: 1px solid  rgba(146, 30, 241, 0.192);
  padding: 6px 0 ;
}

.lable{
  /* padding: 4px 50px; */

  border-radius: 8px;

  color: #fff;
  font-weight: bold;

  text-align: center;
}

.b-lable {background-color: #9f12fd;}
.STRONG-lable {background-color: #f32a2a;}
.I-lable {background-color: #5734f3;}
.em-lable {background-color: #14f0f0;}
.u-lable {background-color: #f01919c7;}
.mark-lable {background-color: #13f531;}
.small-lable {background-color: #9302f37c;}
.del-lable {background-color: #dbdbb5;}
.sup-lable {background-color: #ee7d13;}
.sub-lable {background-color: #114210;}


/* card2 */

.pre-box {
  background-color: #1f1829;
  border-radius: 15px;
  color: #fafafa;

  padding: 20px;
}

.html-tag { color: #cab7fd;}

.line-no {
  color: #adb1ad;
  display: inline-block;
  width: 30px;
}

/* card 3 */

.activity-list{ list-style: none;}

.activity-list li{ 
  margin-bottom: 20px;
}

.chack{
  /* background-color: #9f12fd; */
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;

  /* padding: 10px; */
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  height: 38px;
  width: 38px;
}

.chack-blue{background-color: #14f0f0;}
.chack-green{background-color: #2ef014;}
.chack-orange{background-color: #fc5c00;}
.chack-red{background-color: #f01414;}
.chack-pink{background-color: #fa03c4;}


/* card-tipbox */

.card-tipbox{
  background-color: #d09be9;
  
  border-radius: 16px;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.747);
  border: 1px solid #200241;

  overflow: hidden;

  margin-bottom: 25px;

  display: inline-flex;

  padding: 20px; 
}

.card-header-tipbox {
  color: blue;
  font-size: 18;
  font-weight: bold;

  /* margin-left: 20px;
  margin-top: 20px; */

  
}

.card-body-tipbox {
  margin-left: 20px;

}
.tip-header-text {
 color: #0350a8;
  font-size: 18;
  font-weight: bold;
}

.html-tags {color: #02007a;}

 

 